# Copier ce fichier en ".env" et ajuster les valeurs.

DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=olive_iq
POSTGRES_USER=olive_iq
POSTGRES_PASSWORD=olive_iq
POSTGRES_HOST=db
POSTGRES_PORT=5432

JWT_ACCESS_LIFETIME_MIN=30
JWT_REFRESH_LIFETIME_DAYS=7

MAX_TENTATIVES_ECHOUEES=5
DUREE_VERROUILLAGE_MINUTES=15

DUREE_VALIDITE_CODE_RESET_MINUTES=15
MAX_TENTATIVES_CODE_RESET=5
MAX_DEMANDES_CODE_RESET_PAR_FENETRE=5
FENETRE_DEMANDES_CODE_RESET_MINUTES=60

DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@olive-iq.local
